{% extends "base.html" %}

{% block content %}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="form-group px-4">
                <label for="">Associer un véhicule et un conducteur</label>
                <form action="{{ base_path ~ '/association_vehicule_conducteur' }}" method="POST">
                    <div class="form-group">
                        <label id="id_conducteur" for="id_conducteur">Conducteur</label>
                        <select name="id_conducteur" id="id_conducteur" required>
                            <option value="">Choisir le conducteur</option>
                            <!-- Twig foreach pour lister les conducteurs -->
                            {% for conducteur in conducteurs %}
                            <option value="{{ conducteur.id }}">{{ conducteur.prenom}} {{ conducteur.nom}}
                            </option>
                            {% endfor %}
                            <!--end foreach-->
                        </select>
                    </div>
                    <div class="form-group">
                        <label id="id_vehicule" for="id_vehicule">Véhicules</label>
                        <select name="id_vehicule" id="id_vehicule" required>
                            <option value="">Choisir le véhicule</option>
                            <!-- Twig foreach pour lister les véhicules -->
                            {% for vehicule in vehicules %}
                            <option value="{{ vehicule.id }}">{{ vehicule.marque }} / {{ vehicule.modele }} /
                                {{ vehicule.immatriculation }}</option>
                            {% endfor %}
                            <!--end foreach-->
                        </select>
                    </div>
                    <input class="btn btn-primary mt-4" type="submit" value="Associer">

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}